@use '/src/styles/constants/colors';

.cardContainer {
  justify-content: center;
  margin: 35px 16px 0;

  img {
    width: 140px;
    height: 100px;
    border-radius: 20px;
  }

  .cardTitle {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 12px 6px 0;

    &.isActive {
      svg {
        fill: colors.$MAIN_PINK;
      }
    }

    h3 {
      width: 100px;
      overflow: hidden;
      font-size: 16px;
      font-weight: 500;
      color: colors.$TEXT29;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .heartInput {
      position: absolute;
      right: 8px;
      width: 18px;
      height: 18px;
    }

    svg {
      position: absolute;
      right: 8px;
      width: 18px;
      height: 18px;
      fill: colors.$MAIN_DARKGRAY;
    }
  }

  p {
    width: 130px;
    margin: 3px 7px;
    overflow: hidden;
    font-size: 12px;
    color: colors.$TEXT59;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
