// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

// Chromatic
$RED: #ff3b30;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

// Random Lunch
$MAIN_YELLOW: #ffd583;
$MAIN_DARK_YELLOW: #ffba33;
$MAIN_PINK: #f9595f;

$MAIN_LIGHTGRAY: #f2f2f2;
$MAIN_GRAY: #d9d9d9;
$MAIN_DARKGRAY: #b9b9b9;
$TEXT59: #595959;
$TEXT39: #393939;
$TEXT29: #292929;

// Random Lunch Dark mode
$DARK_MAIN_YELLOW: #ffd583;
$DARK_MAIN_DARK_YELLOW: #ffba33;
$DARK_MAIN_PINK: #f9595f;

$DARK_MAIN_LIGHTGRAY: #f2f2f2;
$DARK_MAIN_GRAY: #d9d9d9;
$DARK_MAIN_DARKGRAY: #b9b9b9;
$DARK_TEXT59: #595959;
$DARK_TEXT39: #393939;
$DARK_TEXT29: #292929;

// #ffffff <->#292929
// #f2f2f2 <-> #393939
// 버튼 #aaaaaa #2a2a2a
// main 배경 #393939
// 하트 #595959'
// 글자 #ffffff #dddddd
