@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: colors.$WHITE;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 4%), 0 1px 2px rgba(0, 0, 0, 12%);

  .headerTitleWrapper {
    display: flex;
    justify-content: space-between;

    .titleButtonWrapper {
      padding: 25px 25px 18px;
      font-size: 24px;
      font-weight: bold;
    }

    .titleDiceWrapper {
      padding-right: 25px;
    }
  }

  .searchWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .buttonWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 9px auto 16px;
  }
}
