@use '/src/styles/constants/colors';

.mainContainer {
  display: flex;
  height: 100%;
  padding-top: 120px;
  padding-bottom: 56px;

  .cardWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
